{% extends "blog/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>이름과 비밀번호가 일치하지 않습니다. 다시 시도해주세요.</p>
    {% endif %}
    <div class="container">
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table>
        <tr>
           
            <td><p>{{ form.username.label_tag }}</p></td>
            <td><p>{{ form.username }}</p></td>
        </tr>
        <tr>           
            <td><p>{{ form.password.label_tag }}</p></td>
            <td><p>{{ form.password }}</p></td>
        </tr>
        </table>

        <input class="btn btn-default"  type="submit" value="login" />
        
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}