{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <div class="content row">
        <div class="col-sm-3">
            <div class="row">
                <div class="sidebar" style="border:1px solid black; overflow-y:auto !impotant;padding:30px">                    
                    {% for post2 in book.posts.all %}
                        {% if user.is_authenticated or book.approved_post %}
                        <div class="row" {% if post2.pk == post.pk %}style="border:1px solid blue;" {% endif %}>
                            <div class="sidebar">
                                <a href="{% url 'post_view' pk=post2.pk %}">{{ post2.title}}</a>   
                            </div>
                        </div>
                        {% endif %}
                        {% empty %}
                        <p>No Contents here yet </p>
                    {% endfor %}
                    <a class="btn btn-default" href="{% url 'add_post_to_book' pk=book.pk %}">Add Contents</a>
                </div>
            </div>
        </div>
        <div class="col-sm-9" style="margin-top: 0px;">
            <h1>New Contents</h1>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Send</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}