{% extends 'blog/base.html' %}

{% block content %}

    <div class="container">
        <div class="content row" style="margin-top:0;">
            <div class="col-sm-3" id="leftmenuinner" style="overflow-y:auto; border-right:1px solid #BDBDBD">
            <h3 style="text-align:left; margin-top:0;display: inline-block;">Contents</h3>
            <a class="pull-light js-toolbar-action" aria-label="" onclick="showandhide()" title="메뉴"><i class="fa fa-align-justify"></i></a>                
            {% for post in book.posts.all %}
                {% if post.published_date or user.is_authenticated %} 
                <div class="row">
                    <div class="sidebar" >
                        <a href="{% url 'post_view' pk=post.pk %}">{{ post.title}}</a>   
                    </div>
                </div>
                {% endif %}
                {% empty %}
                <p>No Contents here yet </p>
            {% endfor %}
            {% if user.is_authenticated and book.author == user %}<a class="btn btn-default" href="{% url 'add_post_to_book' pk=book.pk %}">Add Contents</a>{% endif %}
            </div>
            <div class="page  col-sm-9" id="load_content" >
            {# 특정 컨텐츠만 나옴/ if post 값이 없으면 책 내용이 나오기 #}
                <a class="pull-left js-toolbar-action" aria-label="" onclick="showandhide()" title="메뉴"><i class="fa fa-align-justify"></i></a>
                <div class="post">
                    <h4>{{ book.title }}</h4>
                    {% if book.published_date %}
                    <div class="date">
                        <p>{{ book.published_date }}</p>
                    </div>
                    {% else %}
                        <a class="btn btn-default" href="{% url 'book_publish' pk=book.pk %}">Publish</a>
                    {% endif %}
                    {% if book.photo %}
                        <img src="{{ book.photo.url }}" alt="" class="img-responsive"/>
                    {% endif %}
                    {% if user.is_authenticated and book.author == user %}
                        <a class="btn btn-default" href="{% url 'book_edit' pk=book.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-default" href="{% url 'book_remove' pk=book.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    {% endif %}
                    <p>{{ book.text|linebreaksbr }}</p>
                </div>
            </div>
        </div>
    </div>
 
{% endblock %}