{% extends 'blog/base.html' %}

{% block content %}

    <div class="container">
        <div class="content row" style="margin-top:0;">
            <div class="col-sm-3" style="overflow-y:auto;">
            <h3 style="text-align: center;margin-top:0;">Contents</h5>
            {% for post in book.posts.all %}
                {% if user.is_authenticated or book.approved_post %}
                <div class="row">
                    <div class="sidebar" >
                        <a href="{% url 'post_view' pk=post.pk %}">{{ post.title}}</a>   
                    </div>

                </div>
                {% endif %}
                {% empty %}
                <p>No Contents here yet </p>
            {% endfor %}
            <a class="btn btn-default" href="{% url 'add_post_to_book' pk=book.pk %}">Add Contents</a>
            </div>
            <div class="page  col-sm-9" id="load_content" >
            {# 특정 컨텐츠만 나옴/ if post 값이 없으면 책 내용이 나오기 #}
                <div class="post">
                    <h4>{{ book.title }}</h4>
                    {% if book.published_date %}
                    <div class="date">
                        <p>{{ book.published_date }}</p>
                    </div>
                    {% else %}
                        <a class="btn btn-default" href="{% url 'book_publish' pk=book.pk %}">Publish</a>
                    {% endif %}
                    {% if book.photo %}
                        <img src="{{ book.photo.url }}" alt="" class="img-responsive"/>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a class="btn btn-default" href="{% url 'book_edit' pk=book.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-default" href="{% url 'book_remove' pk=book.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    {% endif %}
                    <p>{{ book.text|linebreaksbr }}</p>
                </div>
            </div>
        </div>
    </div>
 
{% endblock %}