{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <div class="content row">
        <div class="col-sm-3" id="leftmenuinner" style="overflow-y:auto; border-right:1px solid #BDBDBD">
            <h3 style="text-align:left; margin-top:0;display: inline-block;">Contents</h3><a class="pull-light js-toolbar-action" aria-label="" onclick="showandhide()" title="메뉴"><i class="fa fa-align-justify"></i></a>
            <div class="row">
                <div style="padding-left:20px; ">                    
                    {% for post2 in book.posts.all %}
                        {% if user.is_authenticated or post2.published_date %}
                        <div class="row" {% if post2.pk == post.pk %} style="background-color:#65AAF0; " {% endif %}>
                            <div class="sidebar">
                                <a href="{% url 'post_view' pk=post2.pk %}">{{ post2.title}}</a>   
                            </div>
                        </div>
                        {% endif %}
                        {% empty %}
                        <p>No Contents here yet </p>
                    {% endfor %}
                    {% if user.is_authenticated and book.author == user %}<h3 style="text-align: center;margin-top:0;"><a class="btn btn-default " href="{% url 'add_post_to_book' pk=book.pk %}" >Add Contents</a></h3>{% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-9" style="margin-top: 0px;">
            <div class="row">
                <a class="pull-left js-toolbar-action" aria-label="" onclick="showandhide()" title="메뉴"><i class="fa fa-align-justify"></i></a>
                {% if user.is_authenticated and book.author == user %}
                    <a class="pull-right" href="{% url 'post_remove' pk=post.pk %}" >삭제</a>
                    <a class="pull-right" href="{% url 'post_edit' pk=post.pk %}" >편집 &nbsp;</a>
                    {% if post.published_date %}
                    <div class="date pull-right">
                        <!-- <p>{{ post.published_date }}</p> -->
                    </div>
                    {% else %}
                        <a class="pull-right" href="{% url 'post_publish' pk=post.pk %}">Publish&nbsp;</a>
                    {% endif %}
                {% endif %}
            </div>
            <hr>
            <div class="row">
                <div class="img-responsive" >{{ post.url | safe }}</div> 
                <p style="padding-left: 10px;">{{ post.text|safe }}</p>
                <p class="date pull-right">마지막 편집일 : {{post.updated_date}}</p>
            </div>
            <hr>
            <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
            
            {% for comment in post.comments.all %}
                {% if user.is_authenticated or comment.approved_comment %}
                    <h5>{{ comment.text }} by {{ comment.author }} at {{ comment.created_date }}
                        
                    {% if not comment.approved_comment %}
                        <a href="{% url 'comment_remove' pk=comment.pk %}">삭제</a>
                        <a href="{% url 'comment_approve' pk=comment.pk %}">승인</a>
                    {% endif %}
                    </h5> 
                {% endif %}
            {% empty %}
                <p>No comments here yet</p>
            {% endfor %} 

            <div style="" class="prev_next_indicator"><!-- 앞뒤 이동-->
                    <a class="prev_icon" href="#" role="button">
                        <span class="glyphicon glyphicon-chevron-left" style="font-size:2em;"></span>
                    </a>       
                    <a class="next_icon" href="#" role="button">
                        <span class="glyphicon glyphicon-chevron-right" style="font-size:2em;"></span>
                    </a>                
            </div>
                     
        </div>
    </div>
</div>
{% endblock %}