{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
        <div class="content row">
            <div class="col-sm-3" id="leftmenuinner">
                <h3 style="text-align: center;margin-top:0;">Contents</h5>
                <div class="row">
                    <div style="padding-left:20px; ">                    
                        {% for post2 in book.posts.all %}
                            {% if user.is_authenticated or book.approved_post %}
                            <div class="row" {% if post2.pk == post.pk %} style="border: block; " {% endif %}>
                                <div class="sidebar">
                                    <a href="{% url 'post_view' pk=post2.pk %}">{{ post2.title}}</a>   
                                </div>
                            </div>
                            {% endif %}
                            {% empty %}
                            <p>No Contents here yet </p>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-9" style="margin-top: 0px;">
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>









{% endblock %}