*{
    box-sizing: border-box;/* 모든 박스 사이즈는 보더를 포함한다.*/
}

 /*===========================
  페이지 이동 아이콘
============================ */
.prev_icon {
    position: fixed;
    top:50%;
    left: 10%; 
}

.next_icon {
    position: fixed;
    top:50%;
    right: 10%;
}

.prev_icon:link, .next_icon:link { color:#ccc; }
.prev_icon:visited, .next_icon:visited { color: #ccc; }
.prev_icon:hover, .next_icon:hover { color:#aaa !important; }
.prev_icon:active, next_icon:active { color: #aaa; }


#footer {
    /*position:fixed;*/
    left:0px;
    bottom:0px;
    height:40px;
    width:100%;
    background:#F2F2F2;
    color: #2E2E2E;
    padding: 10px ;
 }
 #footer p {
    text-align: center;
    font-size: 12px;
 }

/*---------------*/
/***** leftmenu *****/
/*cms add 2018.08*/
/*---------------*/
#leftmenuinner {
	height:85%;
	/*width:100%;*/
	overflow-y:auto !important;
	overflow-x:hidden;
	/*padding-top:20px;*/
  }

/*미디어쿼리 적용 
모바일에 적용될 스타일을 먼저 작성합니다. */
@media (max-width: 650px) {/*650이하일때 안보이게..*/
		#leftmenuinner{
			display : none;
		}
 }
 @media (min-width: 651px) {/*651이상일때 보이게..*/
	#leftmenuinner{
		display : block;
	}
}

 /*===========================
  gallery
============================ */

.gallery {
	padding:5px;
}

.gallery .text-center h2 {
	text-transform:uppercase;
	font-weight:550;
	font-size:24px;
	margin-bottom:30px;
}

.gallery figure {
	position: relative;	
	/* margin-top:30px; */
	margin-bottom:30px; 
	background: #272727;
	text-align: center;
	cursor: pointer;
}

.gallery figure img {
	position: relative;
	display: block;
	opacity: 0.8;
}

.gallery figure figcaption {
	padding: 2em;
	color: #fff;
	/* text-transform: uppercase; */
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.gallery figure figcaption::before,
.gallery figure figcaption::after {
	pointer-events: none;
}
/*---------------*/
/***** Marley *****/
/*---------------*/

figure.effect-marley figcaption {
	text-align: right;
}

figure.effect-marley h4,
 figure.effect-marley p {
	position: absolute;
	right: 30px;
	left: 30px;
	padding: 10px 0;
} 


figure.effect-marley p {
	bottom: 30px;
	color:#fff;
	line-height: 1.5;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-marley h4 {
	top: 30px;
	color:#fff;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-marley:hover h4 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-marley h4::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-marley h4::after,
figure.effect-marley p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-marley:hover h4::after,
figure.effect-marley:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}